.brick {
  margin-bottom: 1rem;

  &__add {
    margin-right: 2rem;
    padding: .5rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__remove {
    padding: .5rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}
