.brick {
  display: flex;
  justify-content: space-around;

  &__add {
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 0 .5rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__remove {
    margin-right: 8rem;
    margin-bottom: 1rem;
    padding: 0 .5rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__select-bg {
    margin-bottom: 1rem;
  }
}
