.builder-bricks {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 2rem;
    background: red;
    width: 3rem;
    height: 3rem;
    list-style-type: none;
  }

  &__item:hover .builder-bricks__delete {
    display: block;
  }

  &__item:hover .builder-bricks__select-color {
    display: block;
  }

  &__delete,
  &__select-color {
    display: none;
    transition: 1s;
    font-weight: bold;
    color: #ffffff;
    border: none;
    background: inherit;
  }

  &__delete:hover,
  &__select-color:hover {
    color: darkblue;
    cursor: pointer;
    transition: 1s;
  }
}
