<ul class="builder-bricks">
  <li
    ngx-colors-trigger
    class="builder-bricks__item"
    *ngFor="let brick of bricks; let i = index; trackBy: identify"
    [(ngModel)]="color"
    name="color"
  >
    <button class="builder-bricks__delete" (click)="deleteElement(brick)">
      &times;
    </button>

    <div class="builder-bricks__select-color">
      <div class="form-group">
        <ngx-colors
          ngx-colors-trigger
          [(ngModel)]="color"
          name="color"
        ></ngx-colors>
        <!-- <div>
          <ngx-colors ngx-colors-trigger [(ngModel)]="color"></ngx-colors>
        </div> -->
      </div>
    </div>
  </li>
</ul>
