.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.builder-panel {
  width: 80%;
  height: 80%;
  
  border-radius: 1rem;
  overflow: hidden;
  background: rgba(#000000, 0.7);
}
